<!-- <span class="title">{{title}}</span> -->
<a href = "#title/{{_id}}/">{{title}}</a>
<!-- <p class="blog-entry">{{blog}}</p> -->
<!-- <button class="edit-button" type="button" name="button">Edit</button> -->
<!-- <button class="delete-button" type="button" name="button">Delete</button> -->
