<div class="well blog-form">
  <label for="new-post-title" class="blog-title-label">Blog Title :</label>
  <input id="new-post-title" class="blog-title" type="text" name="title" value="" placeholder="New Blog Title">
  <label for="new-post-entry" class="blog-entry-label">Blog Entry :</label>
  <textarea id="new-post-entry" class="blog-entry" name="blog" rows="8" cols="40" placeholder="Your Blog Entry"></textarea>
  <input class="btn form-button" type="submit" name="submit" value="Submit">
</div>
