
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

//the following styling is on my header
.js-header{
  font-family: 'Changa', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  color: black;
}

//the following styling is on my form
.person-generator-form{
  margin-top: 50px;
  background-color: rgb(151,211,211);
  border-radius: 8px;
}

.first-name-label,
.first-name,
.last-name-label,
.last-name,
.address-label,
.address,
.phone-number-label,
.phone-number,
.form-button{
  font-family: 'Changa', sans-serif;
}

.first-name-label,
.last-name-label,
.address-label,
.phone-number-label{
  font-weight: lighter;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.first-name,
.last-name,
.address,
.phone-number{
  font-size: 18px;
  border-radius: 5px;
  float: right;
  width: 230px;
  text-align: center;
}

.form-button{
  font-family: 'Changa', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  margin-top: 15px;
  width: 100px;
  padding: none;
  background-color: rgb(168,152,152);
  color: white;
}

.form-button:hover{
  color: rgb(168,152,152);
  background-color: white;
}
