
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.header{
  text-align: center;
  margin-top: 50px;
  font-family: 'Orbitron', sans-serif;
  font-size: 40px;
  color: black;
}

.explanation{
  display: block;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: black;
  font-size: 15px;
  margin-top: 15px;
  color: grey;
}

.blog-list{
  list-style: none;
  font-family: 'Orbitron', sans-serif;
  color: black;
  margin-top: 50px;
  font-size: 20px;
}

.individual-blog-entry{
  margin-bottom: 30px;
}
