<div class="well person-generator-form col-md-11">
  <label for="firstName" class="first-name-label">First Name :</label>
  <input id="firstName" class="first-name" type="text" name="firstName" value="" placeholder="First Name">

  <label for="lastName" class="last-name-label">Last Name :</label>
  <input id="lastName" class="last-name" type="text" name="lastName" value="" placeholder="Last Name">

  <label for="address" class="address-label">Address :</label>
  <input id="address" class="address" type="text" name="address" value="" placeholder="Address">

  <label for="phoneNumber" class="phone-number-label">Phone Number :</label>
  <input id="phoneNumber" class="phone-number" type="tel" name="phoneNumber" value="" placeholder="Phone Number">

  <input class="btn form-button col-md-offset-7" type="submit" name="submit" value="Submit">
</div>
